@import '../../../styles//lib.scss';

//------[ base ]-----//
.base {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid;
}

%button-transition {
  transition: all 0.2s ease;
}

//------[ size ]-----//
.small {
  width: 70px;
}
.medium {
  min-width: 140px;
  height: 40px;
  padding: 0 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
}
.large {
  width: 210px;
}

//------[ color ]-----//

.black {
  @extend %button-transition;
  background-color: black;
  color: white;
  border-color: black;
  &:hover {
    @extend %button-transition;
    background-color: white;
    color: black;
  }
}

.white {
  @extend %button-transition;
  background-color: white;
  color: gray;
  border-color: #dddddd;
  &:hover {
    @extend %button-transition;
    background-color: white;
    border-color: black;
    color: black;
  }
}

.red {
  @extend %button-transition;
  background-color: $button-red;
  color: white;
  border-color: $button-red;
  &:hover {
    @extend %button-transition;
    background-color: white;
    border-color: $button-red;
    color: $button-red;
  }
}

.blue {
  @extend %button-transition;
  background-color: $button-blue;
  color: white;
  border-color: $button-blue;
  &:hover {
    @extend %button-transition;
    background-color: white;
    border-color: $button-blue;
    color: $button-blue;
  }
}
